###############################################################################
#
# TinyFPGA BX constraint file (.pcf)
#
###############################################################################
#
# Copyright (c) 2018, Luke Valenty
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# 1. Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# The views and conclusions contained in the software and documentation are those
# of the authors and should not be interpreted as representing official policies,
# either expressed or implied, of the <project name> project. 
#
###############################################################################

####
# TinyFPGA BX information: https://github.com/tinyfpga/TinyFPGA-BX/
####

set_io -nowarn TX A2
set_io -nowarn RX A1

set_io -nowarn audio_left B1
set_io -nowarn audio_right C1

set_io -nowarn sda C2
set_io -nowarn scl C1

set_io -nowarn buttons[7] D2
set_io -nowarn buttons[6] D1
set_io -nowarn buttons[5] E2
set_io -nowarn buttons[4] A6
set_io -nowarn buttons[3] B6
set_io -nowarn buttons[2] A7
set_io -nowarn buttons[1] B7
set_io -nowarn buttons[0] A8

# Right side of board
set_io -nowarn spi_cs H9
set_io -nowarn spi_dc D9
set_io -nowarn spi_res D8
set_io -nowarn spi_sda C9
set_io -nowarn spi_scl A9
set_io -nowarn vga_vsync H2
set_io -nowarn vga_hsync J1
set_io -nowarn vga_red H1
set_io -nowarn vga_green G2
set_io -nowarn vga_blue E1
set_io -nowarn pin_24 A6

# SPI flash interface on bottom of board
set_io flash_csb F7
set_io flash_clk G7
set_io flash_io0 G6
set_io flash_io1 H7
set_io flash_io2 H4
set_io flash_io3 J8

# General purpose pins on bottom of board
set_io -nowarn pin_25 G1
set_io -nowarn pin_26 J3
set_io -nowarn pin_27 J4
set_io -nowarn pin_28 G9
set_io -nowarn pin_29 J9
set_io -nowarn pin_30 E8
set_io -nowarn pin_31 J2

# LED
set_io -nowarn user_led B3

# USB
set_io -nowarn  pin_pu A3
set_io -nowarn  pin_usbp B4
set_io -nowarn  pin_usbn A4

# 16MHz clock
set_io clk B2
